body {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 300px;
    height: 50px;
    background-color: goldenrod;
}

#navbar {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-left: 60%;
    list-style: none;
}

h1::before {
    display: block; 
    content: " "; 
    margin-top: -50px; 
    height: 50px; 
    visibility: hidden; 
    pointer-events: none;
}

li a{
    text-decoration: none;
}

div {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}



#welcome-section {
    margin-top: 50px;
    background-color: goldenrod;
    height: 1030px;
}

#projects {
    background-color: aquamarine;
    height: 1030px;
}

#contact {
    background-color: coral;
    height: 200px;
}

#project-container {
    display: flex;
    flex-direction: row;
    background-color: blue;
    width: 100%;
}

#project-tile {
    width: 200px;
    height: auto;
}

img{
    background-color: bisque;
    display: flex;
    flex-direction: row;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}