body {
    margin: 0;
    padding: 0;
}

#nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: goldenrod;
}

#navbar {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-left: 60%;
    list-style: none;    
}

h1::before {
    display: block; 
    content: " "; 
    margin-top: -50px; 
    height: 50px; 
    visibility: hidden; 
    pointer-events: none;
}

li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

div {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

#container {
    text-align: center;
}

#welcome-section {
    margin-top: 100px;
    background-color: goldenrod;
    height: 100vh;
}

#projects {
    background-color: aquamarine;
    height: 1030px;
}

#contact {
    background-color: coral;
    height: 200px;
}

#projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.project-tile{
    width: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.project-tile div{
    text-align: center;
}

.project-tile a{
    text-decoration-line: none;
    color: black;
    font-weight: bold;
}

.project-tile img {
    width: 100%;
    border-bottom: 1px solid;
}

@media (max-width: 1000px) {

    #projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .project-tile{
        width: 30%;
        margin: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        align-items: center;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

}